h1 User administration page

h2 Statistics
= @bookmarks_count
|  bookmarks

h2 Empty
= link_to 'empty', empty_bookmarks_users_path, method: :delete

h2 Upload
= form_tag upload_bookmarks_users_path, id: "basic", remote: true
  div
    = file_field_tag "files[]", multiple: true
